.menuItem .ver-nav-bar a{
    color:black;
}

.menuItem .ver-nav-bar > div{
    width: 50%;
    margin: auto;
    background-color: lightgrey;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 5px;
    text-align:center;
}